{% extends "journal/base.html" %}

{% block content %}

<div class="settings-page">
    <h2> change password </h2>

    <form method="post" id="password-form">
        {% csrf_token %}

        <input type="password" name="current_password" placeholder="current password" required>
        <input type="password" name="new_password" placeholder="new password" required>

        <button type="button" class="small-btn" onclick="showConfirm()">
            update password
        </button>
    </form>
    <br>

    <a href="{% url 'settings' %}" class="btn secondary"> back to settings</a>
</div>

<div id="confirm-box" class="confirm-box" style="display:none;">
    <p>are you sure you want to change your password?</p>

    <div class="confirm-actions">
        <button type="button" class="small-btn" onclick="submitForm()">yes</button>
        <button type="button" class="small-btn" onclick="closeConfirm()">cancel</button>
    </div>
</div>



<script>
    function showConfirm() {
        document.getElementById("confirm-box").style.display = "block";
    }

    function closeConfirm() {
        document.getElementById("confirm-box").style.display = "none";
    }

    function submitForm() {
        document.getElementById("password-form").submit();
    }
</script>
{% endblock %}