{% extends "journal/base.html" %}

{% block content %}

<div class="entry-page">
    <h2 class="entry-title"> new journal entry</h2>
    <p class="gentle-text"> this is your space - write freely, no pressure</p>

    <div class="mood-section">
        <div class="mood-picker">
            <div class="mood" onclick="selectMood(this,'happy')">☺️</div>
            <div class="mood" onclick="selectMood(this, 'neutral')">🙂</div>
            <div class="mood" onclick="selectMood(this, 'sad')">☹️</div>
            <div class="mood" onclick="selectMood(this, 'stressed')">😣</div>
        </div>

        <input type="hidden" name="mood" id="mood-input">

    </div>

        <form method="post" class="entry-form">
            {% csrf_token %}

            <textarea name="content" placeholder="write about your day.." required></textarea>
            <div class="entry-actions">
                <button type="submit" class="btn"> save entry </button>
                <a href="{% url 'dashboard' %}" class="btn secondary"> back to dashboard </a>
            </div>
        </form>


    </div>
    <script>
        function selectMood(el, mood) {
            document.querySelectorAll('.mood').forEach(m => m.classList.remove('active'));
            el.classList.add('active');
            document.getElementById('mood-input').value = mood;
        }

        function usePrompt(el) {
            const textarea = document.querySelector("textarea");
            textarea.value = el.innerText + " ";
            textarea.focus();
        }
    </script>
    {% endblock %}