{% extends "journal/base.html" %}
{% block title %} dashboard {% endblock %}
{% block content %}

<h2 class="welcome-text"> welcome, {{ request.user.username }} 👋 </h2>

<div class="dashboard-grid">

    {% if show_reminder %}
    <div class="reminder-banner">
        <p> you haven't journaled today, take a moment for yourself </p>
    </div>
    {% endif %}


    <div class="card">
        <h3> new entry 💌 </h3>
        <p> write about your day and track your emotions </p>
        <a href="{% url 'create_entry' %}">
            <button class="btn"> create entry </button>
        </a>
    </div>

     <div class="card">
        <h3> deadlines 📅 </h3>
        <p> add upcoming deadlines or exam dates to track stress levels </p>
        <a href="{% url 'deadlines' %}"> 
            <button class="btn secondary"> view deadlines</button>
        </a>
     </div>
</div>

<div class="stress-banner {{ stress_level }}">
    <h3> stress level 🫧 </h3>
    <p class="stress-main"> {{ stress_level | title }}</p>
    {% if stress_level == "high" %}
    <p class="stress-sub"> deadline is close and your mood is low - take breaks 💓 </p>
    {% elif stress_level == "medium" %}
    <p class="stress-sub"> you may be under some pressure - stay organised 🪷 </p>
    {% else %}
    <p class="stress-sub"> you're doing so well - keep it up! ✨ </p>
    {% endif %}
</div>

<!-- ENTRIES SECTION -->
 <div class="entries-section">
    <div class="section-header">
        <h3> your most recent entries 🪷 </h3>
        <a href="{% url 'all_entries' %}" class="view-all"> view all entries </a>
    </div>
    

    {% if entries %}
    <div class="entries-grid">
        {% for entry in entries %}
        <a href="{% url 'view_entry' entry.id %}" class="entry-link">
        <div class="entry-card">
            <strong> {{ entry.created_at }} </strong>
            <p> {{ entry.content|truncatewords:20 }}</p>
            <span class="pill">
                {{ entry.sentiment_label|default:"n/a"|title}}
                ({{entry.sentiment_score|floatformat:2}})
                
            </span>
        </div>
        </a>
        {% endfor %}
    </div>


    {% else %}
    <p class="empty-text"> no entries yet. start your first journal entry today 🌷</p>
    {% endif %}
 </div>

 <div class="dashboard-actions">
    <p class="subtitle">
    want a deeper look at your mood?
    <a href="{% url 'insights' %}"> view your weekly insights </a>
    </p>
 </div>
 {% endblock %}